.loadingContainer {
  display: none;
  align-items: center;
  justify-content: center;
}
.loadingContainer img {
  height: 50px;
}

.signupFormContainer {
  border: 2px solid #949494;
  margin-right: 500px;
  margin-left: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 650px;
  align-items: center;
  color: white;
}

.signupFormContainer img {
  width: 350px;
}

.formStyling {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.formItem input {
  background-color: #fafafa;
  font-size: 15px;
  border-radius: 4px;
  width: 300px;
  height: 25px;
  border: 3px solid black;
  padding-left: 10px;
}

.formItem h6 {
  color: red;
  margin: 0px 0px 10px 2px;
}
.logIn {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.logIn a {
  color: #027ffe;
}

/* SignUp Button Css */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #027ffe;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 15px;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  width: 320px;
  height: 30px;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}
