.suggestedAcc {
  border: 2px solid black;
  margin-bottom: 2px;
  display: flex;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
}

.suggestedAcc:hover {
  cursor: pointer;
}
.imgContainer {
  width: 20%;
}

.imgContainer img {
  width: 50px;
}

.nameContainer {
  width: 70%;
}
